// /*
// * Layout helper to create grids with css-grids.
// *
// * @version 1.0.0
// * @author Thierry de Wit
// * @author Vorzious
// */

/*
-------------------------------------------------------
GENERAL
-------------------------------------------------------
*/

.container{
    position: relative;
}

.grid{
    display: -ms-grid;
    display: grid;
}

/*
-------------------------------------------------------
EVEN COLUMNS
-------------------------------------------------------
*/

.gc1{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.gc2-even{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.gc3-even{
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.gc4-even{
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gc5-even{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gc6-even{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
LARGE CENTER COLUMN
-------------------------------------------------------
*/

.gc3-lg-center{
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.gc4-lg-center{
    -ms-grid-columns: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.gc5-lg-center{
    -ms-grid-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.gc6-lg-center{
    -ms-grid-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
}

/*
-------------------------------------------------------
EXTRA LARGE CENTER COLUMN
-------------------------------------------------------
*/

.gc5-xlg-center{
    -ms-grid-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.gc6-xlg-center{
    -ms-grid-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
}

/*
-------------------------------------------------------
MEDIUM CENTER COLUMN
-------------------------------------------------------
*/

.gc3-med-center{
    -ms-grid-columns: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr; 
}

.gc4-med-center{
    -ms-grid-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
}

.gc5-med-center{
    -ms-grid-columns: 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
}

.gc6-med-center{
    -ms-grid-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
}

/*
-------------------------------------------------------
SMALL CENTER COLUMN
-------------------------------------------------------
*/

.gc3-sm-center{
    -ms-grid-columns: 1.5fr 1fr 1.5fr;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}

.gc4-sm-center{
    -ms-grid-columns: 1.5fr 1fr 1fr 1.5fr;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
}

.gc5-sm-center{
    -ms-grid-columns: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
}

.gc6-sm-center{
    -ms-grid-columns: 1.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr;
}

/*
-------------------------------------------------------
LARGE LEFT COLUMN
-------------------------------------------------------
*/

.gc2-lg-left{
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.gc3-lg-left{
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.gc4-lg-left{
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.gc5-lg-left{
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.gc6-lg-left{
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
MEDIUM LEFT COLUMN
-------------------------------------------------------
*/

.gc2-med-left{
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
}

.gc3-med-left{
    -ms-grid-columns: 1.5fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr; 
}

.gc4-med-left{
    -ms-grid-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.gc5-med-left{
    -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.gc6-med-left{
    -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
SMALL LEFT COLUMN
-------------------------------------------------------
*/

.gc2-sm-left{
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
}

.gc3-sm-left{
    -ms-grid-columns: 1fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1.5fr 1.5fr;
}

.gc4-sm-left{
    -ms-grid-columns: 1fr 1.5fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
}

.gc5-sm-left{
    -ms-grid-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

.gc6-sm-left{
    -ms-grid-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

/*
-------------------------------------------------------
LARGE RIGHT COLUMN
-------------------------------------------------------
*/

.gc2-lg-right{
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
}

.gc3-lg-right{
    -ms-grid-columns: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 2fr;
}

.gc4-lg-right{
    -ms-grid-columns: 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.gc5-lg-right{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.gc6-lg-right{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

/*
-------------------------------------------------------
MEDIUM RIGHT COLUMN
-------------------------------------------------------
*/

.gc2-med-right{
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
}

.gc3-med-right{
    -ms-grid-columns: 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1.5fr; 
}

.gc4-med-right{
    -ms-grid-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
}

.gc5-med-right{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.gc6-med-right{
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
}

/*
-------------------------------------------------------
SMALL RIGHT COLUMN
-------------------------------------------------------
*/

.gc2-sm-right{
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
}

.gc3-sm-right{
    -ms-grid-columns: 1.5fr 1.5fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1fr;
}

.gc4-sm-right{
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
}

.gc5-sm-right{
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
}

.gc6-sm-right{
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
}

/*
-------------------------------------------------------
EVEN ROWS
-------------------------------------------------------
*/

.gr1{
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.gr2-even{
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.gr3-even{
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gr4-even{
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gr5-even{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.gr6-even{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
LARGE CENTER ROW
-------------------------------------------------------
*/

.gr3-lg-center{
    -ms-grid-rows: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.gr4-lg-center{
    -ms-grid-rows: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}

.gr5-lg-center{
    -ms-grid-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
}

.gr6-lg-center{
    -ms-grid-rows: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr;
}

/*
-------------------------------------------------------
EXTRA LARGE CENTER ROW
-------------------------------------------------------
*/

.gr5-xlg-center{
    -ms-grid-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
}

.gr6-xlg-center{
    -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
}

/*
-------------------------------------------------------
MEDIUM CENTER ROW
-------------------------------------------------------
*/

.gr3-med-center{
    -ms-grid-rows: 1fr 1.5fr 1fr; 
    grid-template-rows: 1fr 1.5fr 1fr; 
}

.gr4-med-center{
    -ms-grid-rows: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
}

.gr5-med-center{
    -ms-grid-rows: 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr 1fr 1fr;
}

.gr6-med-center{
    -ms-grid-rows: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
}

/*
-------------------------------------------------------
SMALL CENTER ROW
-------------------------------------------------------
*/

.gr3-sm-center{
    -ms-grid-rows: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr 1.5fr;
}

.gr4-sm-center{
    -ms-grid-rows: 1.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr 1fr 1.5fr;
}

.gr5-sm-center{
    -ms-grid-rows: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
}

.gr6-sm-center{
    -ms-grid-rows: 1.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr;
}

/*
-------------------------------------------------------
LARGE TOP ROW
-------------------------------------------------------
*/

.gr2-lg-top{
    -ms-grid-rows: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.gr3-lg-top{
    -ms-grid-rows: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

.gr4-lg-top{
    -ms-grid-rows: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.gr5-lg-top{
    -ms-grid-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

.gr6-lg-top{
    -ms-grid-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
MEDIUM TOP ROW
-------------------------------------------------------
*/

.gr2-med-top{
    -ms-grid-rows: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
}

.gr3-med-top{
    -ms-grid-rows: 1.5fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
}

.gr4-med-top{
    -ms-grid-rows: 1.5fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.gr5-med-top{
    -ms-grid-rows: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.gr6-med-top{
    -ms-grid-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

/*
-------------------------------------------------------
SMALL TOP ROW
-------------------------------------------------------
*/

.gr2-sm-top{
    -ms-grid-rows: 1fr 1.5fr;
    grid-template-rows: 1fr 1.5fr;
}

.gr3-sm-top{
    -ms-grid-rows: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr;
}

.gr4-sm-top{
    -ms-grid-rows: 1fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr;
}

.gr5-sm-top{
    -ms-grid-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

.gr6-sm-top{
    -ms-grid-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
}

/*
-------------------------------------------------------
LARGE BOTTOM ROW
-------------------------------------------------------
*/

.gr2-lg-bottom{
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.gr3-lg-bottom{
    -ms-grid-rows: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.gr4-lg-bottom{
    -ms-grid-rows: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

.gr5-lg-bottom{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
}

.gr6-lg-bottom{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
}

/*
-------------------------------------------------------
MEDIUM BOTTOM ROW
-------------------------------------------------------
*/

.gr2-med-bottom{
    -ms-grid-rows: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
}

.gr3-med-right{
    -ms-grid-rows: 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1.5fr;
}

.gr4-med-right{
    -ms-grid-rows: 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
}

.gr5-med-right{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.gr6-med-right{
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
}

/*
-------------------------------------------------------
SMALL BOTTOM ROW
-------------------------------------------------------
*/

.gr2-sm-bottom{
    -ms-grid-rows: 1.5fr 1fr;
    grid-template-rows: 1.5fr 1fr;
}

.gr3-sm-bottom{
    -ms-grid-rows: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr;
}

.gr4-sm-bottom{
    -ms-grid-rows: 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1fr;
}

.gr5-sm-bottom{
    -ms-grid-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
}

.gr6-sm-bottom{
    -ms-grid-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
}